[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
